@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

@keyframes transitionIn
{
  from{
opacity: 0;
transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}


:root{
  --color1: #1A120B;
  --color2: #3C2A21;
  --color3: #D5CEA3;
  --color4: #E5E5CB;

}


* {
  font-family: "Inter", sans-serif;
  margin: 0;
  
  box-sizing: border-box;
}
/* #BorderNav
{
  border: 5px solid var(--color3);
  border-radius: 100px;
  width: 100%;
} */

li {
  list-style: none;
  padding: 0px 15px;
 
}
p {
  font-size:1.1rem;
  width: 70%;
}
body {
  min-height: 100vh;
  background: var(--color1);
  color: rgb(250, 250, 250);
  border: 5px solid var(--color2);
  animation: transitionIn 0.75s;
}
nav {
 

  padding: 10px 20px;
  background: var(--color1);
  
  
}
.nav-container
{

  display: block; 
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
}
.nav-container h2
{
  margin: 30px;
}
.nav-container span 
{
  cursor: pointer;
  border:5px solid var(--color4);
  border-radius: 8000px;
  padding:10px;
  box-shadow: 1px 1px 5px rgb(26 26 26);
  
}
.nav-container img 
{
 cursor: pointer;
  width: 100px;
  
  transition: all .2s ease-in-out;
}
.nav-container img:hover
{
  transform: scale(1.1);
}

nav ul {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: left;
  text-transform: uppercase;
  
 
}

.icon-container{
  display: flex;
  margin-top: 10px;
  padding: 0;
  justify-content: left;
  align-items: left;
  text-transform: uppercase;
}
.icon-container img{
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.icon-container img:hover{
  height: 35px;
  width: 35px;
  
}
nav li
{
  cursor: pointer;
}
.nav-href{
  
  color: var(--color4);
  text-decoration: none;
 
}
.header {
  display: flex;
  justify-content: space-around;
  
 
  
  
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--color3);
  position: relative;
}
.header-left-container
{
  display: block; /* Transforme l'élément "bloc" en "inline" */
  margin: 0 auto;  
  
  
}

.rond
{

   cursor: pointer;
    
}

h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: var(--color2);
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
  padding-left: 180px;
  
}




#box {

  position: relative;

 
}
.header-propos{
  display: flex;
  justify-content: center;
  align-items: center;
}

#box-propos {

  position: relative;

 
}
 #BorderRight
{
  
  
  border-top:10px solid ;
  border-left: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  bottom:90vh;
  right: 40vh;
  width: 300px;
  height: 300px;
  margin-left: 50px;
  
} 

#modem {

 object-fit: cover;
 width: 70vh;
 padding-top: 20vh;
 padding-bottom: 20vh;

  
}



#box2 {

  position: relative;
 
}

 #BorderLeft
{
  
  
  border-bottom:10px solid ;
  border-right: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at bottom right, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  top: 135vh;
  right: 55vh;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  transition: 1s ease-in;
} 
#BorderLeft:hover
{
  border-image-source: radial-gradient(circle at bottom right, var(--color3), var(--color2),transparent);
}

#comptButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border:5px solid var(--color2);
  background-color: var(--color3);
  color: var(--color2);
  border-radius: 70px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.infos-left {
  width: 33%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}


footer
{

  position: relative;
  width: 70%;
  margin: 0 auto;
}

.footer-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  color: var(--color3);
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 15px;
 
}

.footer-container::before
{
  content: "";
  border-radius: 40px;
  width: 70%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translate(0%, -50px );
  
  
}
.footer-container::after
{
  content: "";
  border-radius: 40px;
  width: 60%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translate(0%, 50px );
}

/* ------ProjetCSS---------- */


#box {
 
display: flex;
margin:100px auto 0;
height: 500px;
  position: relative;
  max-width: 1500px;
 
}





#Border1
{
  
  
  border-bottom:10px solid ;
  border-left: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  
}
#Border2
{
  
  
  border-top:10px solid ;
  border-right: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  right: 0%;
  top: 0%;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  
}

.divider
{
    
    padding: 20px;

   
   display: flex;
   justify-content: center;
   align-items: center;

} 

   .divider::after,.divider::before
    {
        
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: var(--color2);
       
    }

    .divider::before
    {
        margin-right: 2rem;
    }
    .divider::after
    {
        margin-left: 2rem;
    }



@media screen and (max-height: 700px) {
  #BorderRight
  {
   position: absolute;
    bottom:85vh;
    right: 35vh;
    width: 300px;
    height: 300px;
  } 
  #BorderLeft
  {
    position: absolute;
    top: 135vh;
    right: 40vh;
    width: 200px;
    height: 200px;
  } 
}
  
@media screen and (max-width: 1400px) {
  #BorderRight
  {
   position: absolute;
    bottom:85vh;
    right: 35vh;
    width: 300px;
    height: 300px;
  } 
  #BorderLeft
  {
    position: absolute;
    top: 135vh;
    right: 60vh;
    width: 200px;
    height: 200px;
  } 

}
@media screen and (max-width: 390px) {
  #modem {

    object-fit: cover;
    width: 40vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
   
     
   }
   #BorderRight
   {
    border-top:5px solid ;
    border-left: 5px solid ;
    position: absolute;
     bottom:57vh;
     right: 30vh;
     width: 100px;
     height: 100px;
   } 
   #BorderLeft
   {
     
  border-bottom:5px solid ;
  border-right: 5px solid ;
     position: absolute;
     top: 86vh;
     right: 1.4vh;
     width: 100px;
     height: 100px;
   } 
}
