@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

@keyframes transitionIn
{
  from{
opacity: 0;
transform: rotateX(-10deg);
  }

  to{
    opacity: 1;
    transform: rotateX(0);
  }
}


:root{
  --color1: #1A120B;
  --color2: #3C2A21;
  --color3: #D5CEA3;
  --color4: #E5E5CB;

}


* {
  font-family: "Inter", sans-serif;
  margin: 0;
  
  box-sizing: border-box;
}
/* #BorderNav
{
  border: 5px solid var(--color3);
  border-radius: 100px;
  width: 100%;
} */

li {
  list-style: none;
  padding: 0px 15px;
 
}
p {
  font-size:1.1rem;
  width: 70%;
  line-height: 22px;
}
body {
  min-height: 100vh;
  background: var(--color1);
  color: rgb(250, 250, 250);
  border: 5px solid var(--color2);
  animation: transitionIn 0.75s;
}
nav {
 

  padding: 10px 20px;
  background: var(--color1);
  
  
}
.nav-container
{

  display: block; 
  margin: 0 auto;
  text-align: center;
  max-width: 1100px;
}
.nav-container h2
{
  margin: 30px;
}
.nav-container span 
{
  cursor: pointer;
  border:5px solid var(--color4);
  border-radius: 8000px;
  padding:10px;
  box-shadow: 1px 1px 5px rgb(26 26 26);
  
}
.nav-container img 
{
 cursor: pointer;
  width: 100px;
  
  transition: all .2s ease-in-out;
}
.nav-container img:hover
{
  transform: scale(1.1);
}

nav ul {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: left;
  text-transform: uppercase;
  
 
}

.icon-container{
  display: flex;
  margin-top: 10px;
  padding: 0;
  justify-content: left;
  align-items: left;
  text-transform: uppercase;
}
.icon-container img{
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.icon-container img:hover{
  height: 35px;
  width: 35px;
  
}
nav li
{
  cursor: pointer;
}
.nav-href{
  
  color: var(--color4);
  text-decoration: none;
 
}
.header {
  display: flex;
  justify-content: space-around;
  
 
  
  
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: var(--color3);
  position: relative;
}
.header-left-container
{
  display: block; /* Transforme l'élément "bloc" en "inline" */
  margin: 0 auto;  
  
  
}

.rond
{

   cursor: pointer;
    
}

h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: var(--color2);
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
  padding-left: 180px;
  
}


#box {

  position: relative;
 
}

#BorderRight
{
  
  
  border-top:8px solid ;
  border-left: 8px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  top: 0%;
  width:300px;
  height: 300px;
  margin-left: 50px;
  
}

#modem {
 object-fit: cover;
 margin-left: 60px;
  width: 40vh;
  height: 50vh;
 
  
}



#box2 {

  position: relative;
 
}

#BorderLeft
{
  
  
  border-bottom:10px solid ;
  border-right: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at bottom right, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  transition: 1s ease-in;
}
#BorderLeft:hover
{
  border-image-source: radial-gradient(circle at bottom right, var(--color3), var(--color2),transparent);
}

#comptButton{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border:5px solid var(--color2);
  background-color: var(--color3);
  color: var(--color2);
  border-radius: 70px;
  text-transform: uppercase;
  letter-spacing: 1px;
  
}
.infos-left {
  width: 33%;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}


footer
{

  position: relative;
  width: 70%;
  margin: 0 auto;
}

.footer-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
  color: var(--color3);
  justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-right: 15px;
 
}

.footer-container::before
{
  content: "";
  border-radius: 40px;
  width: 70%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translate(0%, -50px );
  
  
}
.footer-container::after
{
  content: "";
  border-radius: 40px;
  width: 60%;
  height: 5px;
  position: absolute;
  background: var(--color2);
  transform: translate(0%, 50px );
}

/* ------ProjetCSS---------- */


#box {
 
display: flex;
margin:100px auto 0;
height: 500px;
  position: relative;
  max-width: 1500px;
 
}

#filters
{
    display: block;
    text-align: center;
    gap: 10px;
    
    margin-right: 120px;
    width: 5%;
    margin-top: 100px;
    z-index: 10;
    
}
#filters h2
{
  margin-bottom: 25px;
  border-bottom: 5px solid;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
    border-image-slice: 1;
    color: var(--color3);
}


#filters div
{
    margin-bottom: 10px;
    border: 1px solid var(--color3);
    color: var(--color3);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#filters div:hover
{
  background: var(--color3);
  color: var(--color2);
}

#gallery
{
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
   
    
}

#gallery .active
{
    width: 20%;
    padding: 5px;
    transition: width .3s;
    border: 5px solid;
    border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
    border-image-slice: 1;
    transition: 1s ease-in-out;
   
}

#gallery img:hover
{
  filter: brightness(80%);
  border-image-source: radial-gradient(circle at top left, var(--color3), var(--color2));
  
}

#gallery .inactive
{
    width: 0;
    padding: 0;
    transition: width .3s;
}



#Border1
{
  
  
  border-bottom:10px solid ;
  border-left: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  bottom: 2vh;
  left: 2vh;
  width: 200px;
  height: 200px;
  margin-left: 50px;
  
}
#Border2
{
  
  
  border-top:10px solid ;
  border-right: 10px solid ;
  border-radius: 500px;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
  border-image-slice: 1;
  padding: 10px;
  position: absolute;
  right: 2vh;
  top: 2vh;
  width: 300px;
  height: 300px;
  margin-right: 50px;
  
}

.divider
{
    
    padding: 20px;

   
   display: flex;
   justify-content: center;
   align-items: center;

} 

   .divider::after,.divider::before
    {
        
        content: '';
        flex-grow: 1;
        height: 3px;
        background-color: var(--color2);
       
    }

    .divider::before
    {
        margin-right: 2rem;
    }
    .divider::after
    {
        margin-left: 2rem;
    }


   

    @media screen and (max-width: 1500px) {
      #modem{
       
      }
   
    }
    @media screen and (max-width: 1400px)  {
      .header{
       height: 400px;
       margin-bottom: 50px;
      }
      .header-left-container {
        margin-top: 100px;
      }
      .header-left-container h1{
        font-size: 4rem;
      }
      .header-left-container h3{
        font-size: 1.6rem;
      }
      #box{
        margin-top: 50px;
        height: 80px;
      }
    }

    @media screen and (max-width: 390px) {

      .header{
        margin-bottom: 95px;
      }
      li {
       
        padding: 0px 10px;
       
      }
      nav {
       
      
        padding: 10px 20px;
        background: var(--color1);
        
        
      }

      .header-left-container h1 {
        font-size: 2rem;
      }
      .header-left-container h3 {
        font-size: 1rem;
      }
      #modem {
       
         display: none;
        
         
       }
       .header-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: var(--color3);
        position: relative;
        margin-top: 10vh;
        margin-right: 10vh;
        margin-left: 10vh;
      }
      .header-left-container
      {
        display: block; /* Transforme l'élément "bloc" en "inline" */
        margin: 0 auto;  
        
        
      }
      
      .rond
      {
      
         cursor: pointer;
          
      }
      
  
      p {
        font-size:0.75rem;
        width:272px;
        margin: 0;
        line-height: 17px;
      }
      .header-left-container h3 {
        color: var(--color2);
        font-size: 1.1rem;
      }
      .header-right{
        padding: 0;
      }
      
      #BorderRight
      {
        
        
        border-top:5px solid ;
        border-left: 5px solid ;
        
        padding: 10px;
        position: absolute;
        top: 8vh;
        left: 0.5vh;
        width:120px;
        height: 120px;
        margin-left: 50px;
        
      }
      #BorderLeft
      {
        
        
        border-bottom:5px solid ;
        border-right: 5px solid ;
   
        padding: 10px;
       
        top: 28vh;
        left: 17vh;
        width: 120px;
        height: 120px;
        margin-left: 50px;
        transition: 1s ease-in;
      }

      #Border1
      {
        border-bottom:4px solid ;
        border-left: 4px solid ;
       position: absolute;
       top:50vh;
       left: -5vh;
        width: 80px;
        height: 80px;
      } 
      #Border2
      {
        border-top:5px solid ;
  border-right: 5px solid ;
        position: absolute;
        right: -4vh;
        top: 2vh;
        width: 80px;
        height: 80px;
      } 

      #filters
{
    display: block;
    text-align: center;
    gap: 10px;
    
    margin-right: 90px;
    width: 5%;
    margin-top: 30px;
    z-index: 10;
    
}
#filters h2
{
  margin-bottom: 25px;
  border-bottom: 5px solid;
  border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
    border-image-slice: 1;
    color: var(--color3);
}


#filters div
{
    margin-bottom: 5px;
    border: 1px solid var(--color3);
    color: var(--color3);
    padding-right: 50px;
text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

#filters div:hover
{
  background: var(--color3);
  color: var(--color2);
}
#gallery
{
 
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 30vh;
    margin-top: 5vh;
    gap: 10px;
    
}
#gallery .active
{
    width:60%;
    padding: 2px;
    transition: width .3s;
    border: 1px solid;
    border-image-source: radial-gradient(circle at top left, var(--color2), var(--color3),transparent);
    border-image-slice: 1;
    transition: 1s ease-in-out;
   
}
#box{
  margin-top: 25px;
  height: 70vh;
}

    }